.container {
    width: 90%;
    border: 1ps solid black;
    /* margin-left: auto;
    margin-right: auto; */
}


.box-center{
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}